:root {
  --color-text: #434343;
  --color-back-light: #ffffff;
  --color-back-light-1: #f1f1f1;
  --color-back-light-2: #e7e7e7;
  --color-grey-1: #d8d8d8;
  --color-grey-dark-1: #979797;
  --color-blue-light-1:#1dc1dd;
  --color-border-1:#809B9F;
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase; }

.u-margin-bottom-small {
  margin-bottom: 1rem !important; }

.custom-image {
  min-height: 95vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.82)), url("_assets/mail4.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  position: relative;
  margin-top: 2px; }

.custom-landing_card {
  position: absolute;
  top: 20%;
  left: 50%;
  padding: 20px 60px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 56.25em) {
    .custom-landing_card {
      padding: 15px 15px;
      min-width: 400px; } }
  @media only screen and (max-width: 37.5em) {
    .custom-landing_card {
      padding: 15px 10px;
      min-width: 280px; } }

.custom-survey_card {
  position: absolute;
  width: 100%;
  padding: 20px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }

.custom-card {
  width: 100%;
  margin: 20px 0;
  min-height: 170px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 0.15rem 0.1rem rgba(0, 0, 0, 0.35);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .custom-card__content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid color-grey-dark-2;
    background-color: #78909c;
    font-weight: 300;
    color: #fff;
    padding: 10px 0;
    flex: 1; }
    .custom-card__content-title {
      display: flex;
      align-items: center;
      min-height: 30px; }
    .custom-card__content-qtn {
      display: flex;
      align-items: center;
      min-height: 40px; }
    .custom-card__content-subject {
      display: flex;
      align-items: center;
      min-height: 25px; }
    .custom-card__content-left {
      width: 25%;
      text-align: center; }
    .custom-card__content-right {
      flex: 1;
      text-align: center; }
  .custom-card__action {
    height: 50px;
    width: 100%;
    background-color: rgba(207, 216, 220, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .custom-card__action-left {
      width: 25%;
      text-align: center;
      display: flex;
      justify-content: space-evenly; }
    .custom-card__action-votes {
      color: #ff8f00; }
    .custom-card__action-right {
      text-align: end;
      margin-right: 3%; }

.custom-btn, .custom-btn:link, .custom-btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .6rem 1.8rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  position: relative;
  font-size: 0.9rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .custom-btn, .custom-btn:link, .custom-btn:visited {
      font-size: 0.8rem; } }

.custom-btn:hover:not(:disabled) {
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  -moz-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  -o-transform: translateY(-1px);
  box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.2); }
  .custom-btn:hover:not(:disabled)::after {
    transform: scaleX(1.25) scaleY(1.5);
    -webkit-transform: scaleX(1.25) scaleY(1.5);
    -moz-transform: scaleX(1.25) scaleY(1.5);
    -ms-transform: scaleX(1.25) scaleY(1.5);
    -o-transform: scaleX(1.25) scaleY(1.5);
    opacity: 0; }

.custom-btn:active:not(:disabled), .custom-btn:focus:not(:disabled) {
  outline: none;
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.2); }

.custom-btn--white {
  background-color: #fff;
  color: #777; }
  .custom-btn--white::after {
    background-color: #fff; }

.custom-btn--green {
  background-color: #aeea00;
  color: #fff;
  box-shadow: 0 0.05rem 0.5rem rgba(0, 0, 0, 0.2); }
  .custom-btn--green:hover {
    background-color: #a7df02;
    color: #f9f9f9; }

.custom-btn--green-2 {
  background-color: #9fd302;
  color: #fff; }
  .custom-btn--green-2:active, .custom-btn--green-2:focus {
    background-color: #9fd302;
    color: #fff; }
  .custom-btn--green-2:disabled {
    cursor: not-allowed; }

.custom-btn--red {
  background-color: #e7471f;
  color: #fff; }
  .custom-btn--red:active, .custom-btn--red:focus {
    background-color: #e7471f;
    color: #fff; }

.custom-btn--orange {
  background-color: #fbc02d;
  color: #fff; }
  .custom-btn--orange:active, .custom-btn--orange:focus {
    background-color: #fbc02d;
    color: #fff; }

.custom-btn--orange-2 {
  background-color: rgba(207, 216, 220, 0.4);
  color: #ff8f00; }
  .custom-btn--orange-2:active, .custom-btn--orange-2:focus {
    background-color: rgba(207, 216, 220, 0.4);
    color: #ff8f00; }

.custom-btn--grey {
  background-color: #90a4ae;
  color: #fff; }
  .custom-btn--grey::after {
    background-color: #90a4ae; }

.custom-btn--grey-1 {
  background-color: #eceff1;
  color: #757575;
  box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.2); }
  .custom-btn--grey-1:active, .custom-btn--grey-1:focus {
    background-color: #eceff1;
    color: #757575; }

.custom-btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s; }

.custom-btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  -webkit-animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.custom-margin {
  margin: 0 auto; }

.custom-margin-none {
  margin: 0; }

.custom-my-10 {
  margin: 10px 0; }

.custom-my-20 {
  margin: 20px 0; }

.custom-my-30 {
  margin: 30px 0; }

.custom-mt-10 {
  margin-top: 10px !important; }

.custom-mt-15 {
  margin-top: 15px; }

.custom-mt-20 {
  margin-top: 20px !important; }

.custom-mt-30 {
  margin-top: 30px; }

.custom-mt-40 {
  margin-top: 40px; }

.custom-mt-100 {
  margin-top: 100px; }

.custom-mb-20 {
  margin-bottom: 20px; }

.custom-pt-10 {
  padding-top: 10px; }

.custom-pt-20 {
  padding-top: 20px; }

.custom-p-0 {
  padding: 0 !important; }

.custom-line {
  line-height: 18px !important; }

.custom-text {
  font-size: 1.2rem; }
  .custom-text-color {
    font-weight: 500;
    color: #434343; }
  .custom-text-2 {
    font-size: 1.5rem; }

.custom-butom-text {
  color: #757575 !important; }

.custom-alarm-text {
  color: #dd2c00; }

.custom-pos-relative {
  position: relative; }

.custom-inline {
  display: inline; }

.custom-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-align: center; }

.custom-group-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .custom-group-buttons > :not(:last-child) {
    margin-right: 15px; }
  @media only screen and (max-width: 37.5em) {
    .custom-group-buttons {
      flex-direction: column;
      align-items: stretch;
      text-align: center; }
      .custom-group-buttons > :not(:last-child) {
        margin-bottom: 15px;
        margin-right: 0px; } }

.custom-icon {
  font-size: 1.3rem; }

@media only screen and (max-width: 37.5em) {
  .custom-width {
    width: 100%;
    text-align: center; } }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown__btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: .6rem 1.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out; }
  .dropdown__grey {
    background-color: #eceff1;
    color: #757575;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    box-shadow: 0 0.15rem 0.3rem rgba(0, 0, 0, 0.2); }
    .dropdown__grey:active, .dropdown__grey:focus {
      background-color: #eceff1;
      color: #757575; }
  .dropdown__content {
    visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    border-top: 2px solid #ff8f00;
    background-color: #fff;
    width: 100%;
    word-wrap: normal;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out; }
    .dropdown__content-item, .dropdown__content-item:active, .dropdown__content-item:focus {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      background-color: #fff;
      border: none;
      font-size: 0.9rem;
      font-weight: 400;
      text-align: center;
      width: 100%;
      color: #757575;
      padding: 1rem 0;
      text-decoration: none;
      display: block;
      cursor: pointer;
      outline: none; }
    .dropdown__content-item:hover {
      background-color: var(--color-back-light-1); }
  .dropdown:hover .dropdown__content {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1); }
  .dropdown:hover .dropdown__grey {
    box-shadow: 0 0.15rem 0rem rgba(0, 0, 0, 0.2); }

.custom-nav {
  display: flex; }
  .custom-nav_logo {
    font-size: 2rem;
    flex: 1; }
  .custom-nav_menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative; }
    .custom-nav_menu-icon {
      height: 2.3em;
      width: 2.3em;
      fill: #fff; }
    .custom-nav_menu-content {
      top: 100%;
      left: -200%;
      display: flex;
      flex-direction: column;
      visibility: hidden;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      position: absolute;
      border-top: 2.5px solid #90a4ae;
      background-color: #fff;
      width: 350%;
      word-wrap: normal;
      box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      overflow: hidden;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      z-index: 10; }
    .custom-nav_menu-toggle {
      visibility: visible;
      opacity: 1;
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
      z-index: 10; }
    .custom-nav_menu-item, .custom-nav_menu-item:active, .custom-nav_menu-item:focus {
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      background-color: #fff;
      border: none;
      font-size: 0.9rem;
      font-weight: 400;
      text-align: center;
      width: 100%;
      color: #757575;
      text-decoration: none;
      display: block;
      cursor: pointer;
      outline: none; }
      .custom-nav_menu-item:not(:last-of-type), .custom-nav_menu-item:active:not(:last-of-type), .custom-nav_menu-item:focus:not(:last-of-type) {
        border-bottom: 0.5px solid #ccc; }
    .custom-nav_menu-item:hover {
      background-color: var(--color-back-light-1); }

.custom-menu_icon {
  height: 2.3em;
  width: 2.3em;
  align-self: center;
  fill: #fff; }
